
body {
	background-color: #212121;
	/*background-color: #ffffff; */
	
}

p {
	color: white;
}

h1 {
	color: #ffffff;
}



.pequena {
	width: 25%;
	-webkit-transition:all .9s ease;
}

.pequena:hover {
	width: 45%;
}



.caja {
	background-color: black;
}


button {
	border-radius: 5px;
	padding-left: 5px;
	background-color: white;
}


.personalizado {
	border: 0px;
	border-radius: 5px;
	padding: 6px;
}






